/* admin_dashboard.css */

/* Container */
.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
}

/* Dashboard Title */
.dashboard-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

/* Dashboard Cards */
.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Dashboard Card */
.dashboard-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    color: #333;
}

/* Card Icon */
.card-icon {
    font-size: 2.5rem;
    color: #007BFF;
    margin-bottom: 10px;
}

/* Card Content */
.card-content {
    text-align: center;
}

/* Card Title */
.card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Card Description */
.card-description {
    font-size: 1rem;
    color: #666;
}

/* Hover Effects */
.dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* FontAwesome */
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
